<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteRule ^ajax\/(.*)$ ajax.php?q=$1 [L]
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  
  # Rewrite URLs of the form 'x' to the form 'index.php?q=x'.
  RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
  
</IfModule>